@use "./partials/mixins";
@use "./partials/palette";
@use "./partials/effects";
@use "./modules/calculator.scss";


body {
    @include mixins.flexing(column, center, center);
    font-family: 'roboto',avenir, Arial, Helvetica, sans-serif;
    height: 98vh;
    width: 99vw;
    .container{
        @include mixins.flexing(row, center, center);
        width: inherit;
        height: inherit;
        &__monitor{
            height: inherit;
            width: inherit;
            @include mixins.flexing(column, space-between, center);
            background-image: url(./images/hello.png);
            background-repeat:no-repeat;
            background-position: center center;
            background-color: #FFBD59;
            background-size: 50%;
      
            &__nav{
                @include mixins.flexing(row, space-between, center);
                background-color: white;
                opacity: 80%;
                height: 30px;
                width: inherit;
                &__left{
                    @include mixins.flexing(row, space-around, center);
                    gap: 10px;
                    font-size: 12px;
                    margin-left: 10px;
                    &__icon{
                        text-decoration: none;
                        color: black;
                        border-radius: 3px;
                        padding-left: 5px;
                        padding-right: 5px;
                        &--OS{
                            font-weight: bold;
                            transition: 0.2s;
                            &--active{
                                background-color: rgba($color: darkgray, $alpha: 0.5);
                                transition: 0.1s;
                            }
                        }
                        &--main{
                            font-weight: bold;
                        }

                    }
                    
                }
                &__right{
                    @include mixins.flexing(row, space-around, center);
                    gap: 5px;
                    font-size: 12px;
                    margin-right: 10px;
                }
            }
            &__bar{
                @include mixins.flexing(row, center, center);
                height: 60px;
                width: auto;
                transition: 0.5s;
                padding-left: 10px;
                padding-right:10px;
                margin-bottom: 5px;
                background-color: white;
                border-radius: 20px;
                opacity: 100%;
                &__icon{
                    height: 50px;
                    width: 50px;
                    opacity: 100%;
                    transition: 0.2s;
                    &:hover{
                        width: 100px;
                        height: 100px;
                        margin-bottom: 30px;
                        transition: 0.2s;
                    }
                        
                }
            }
            &__popup{
                display: flex;
                justify-content: left;
                align-items: flex-start;
                width: inherit;
                height: inherit;
                &__dropdown{
                    z-index: 2;
                    height: auto;
                    width: 130px;
                    margin: 2px;
                    background-color: rgba($color: white, $alpha: .7);
                    border-radius: 5px;

                    &__list{
                        list-style-type: none;
                        margin-left: 5px;
                        margin-top: 5px;
                        margin-bottom: 3px;
                        padding-left: 2px;
                       
                        &__items{
                            font-size: small;
                            padding: 3px;
                            &--dec {
                                @include mixins.flexing(row, space-between, center);
                                margin-right: 5px;
                                border-bottom: 1px solid gray;
                                border-top: 1px solid gray;
                            }
                            &--underline{
                                margin-right: 5px;
                                border-bottom: 1px solid gray;
                            }
                        }
                    }
                    
                }
                &__youtube{
                    border-radius: 5px;
                    box-shadow: 2px 2px 2px 2px rgba($color: black, $alpha: 0.1);
                    height: 400px;
                    width: 500px;
                    background-color: #26282A;
                    position: absolute;
                    left: 20%;
                    top: 20%;

                    &__web{
                        @include mixins.flexing(row, space-between, center);
                        height: 35px;
                        
                        &__controls{
                            @include mixins.flexing(row, space-between, center);
                            width: 50px;
                            margin-left: 10px;
                            &__button{
                                height:12px;
                                width: 12px;
                                border-radius: 6px;
                                border: none;
                                @include mixins.flexing(row, center, center);
                                font-size: 10px;
                                font-weight: bold;
                                &:hover{
                                    cursor: pointer;
                                }
                                
                                &--close{
                                    background-color: rgb(247, 54, 54);
                                    
                                }
                                &--minimise{
                                    background-color: rgb(255, 193, 60);

                                }
                                &--quack{
                                    background-color: rgb(33, 172, 33);
                                }
                            }
                        }
                        &__search{
                            height: 15px;
                            width: 55%;
                            background-color: white;
                            text-align: center;
                            border-radius: 2px;
                            border: 1px solid gray;
                            
                          
                        }
                        ::placeholder { 
                            color: black;
                            opacity: 1;
                          }
                          &__right{
                            width: 70px;
                            margin-right: 10px;
                            @include mixins.flexing(row, space-between, center);
                            &__icon{
                                height: 16px;
                                width: 30px;
                                background-color: darkgray;
                                border-radius: 5px;
                            }
                          }
                    }

                    &__topBar{
                        @include mixins.flexing(row, space-between, center);
                        height: 40px;
                        width: inherit;
                        background-color: white;
                        &__left{
                            @include mixins.flexing(row, space-between, center);
                            margin-left: 10px;
                            width: 160px;

                            &__bars{
                                height: 30px;
                                width: 30px;
                            }
                            &__logo {
                                @include mixins.flexing(row, space-between, center);
                                width: 110px;
                                &__icon{
                                    @include mixins.flexing(row, center, center);
                                    height: 20px;
                                    width: 30px;
                                    border-radius: 5px;
                                    background-color: #EA3323;
                                    font-size: 10px;
                                    color: white;
                                }
                            }
                        }
                        &__input{
                            @include mixins.flexing(row,center,center);
                            &__text{
                                @include mixins.flexing(row,center,center);
                                border: 1px solid black;
                                &__form{
                                    @include mixins.flexing(row,center,center);
                                    color: gray;
                                    border: none;
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                &__cross{
                                    width: 20px;
                                    @include mixins.flexing(row,center,center);
                                    &__img{
                                        height: 10px;
                                    }
                                }
                                          
                            }
                            &__search{
                                @include mixins.flexing(row,center,center);
                                width: 30px;
                                &__img{
                                    height: 20px;
                                    width: 20px;
                                }

                            }
                        }
                        &__right{
                            @include mixins.flexing(row, space-between, center);
                            width: 80px;
                            margin-right: 10px;
                            &__icon{
                                height: 20px;
                                width: 20px;
                            }
                        }
                    }

                    &__content{
                        @include mixins.flexing(row, center, start);
                        margin-top: 10px;
                        height: 100%;
                        &__main{
                            @include mixins.flexing(column, space-between, center);
                            width: 65%;
                            
                            &__video{
                            height: 200px;
                            width: 300px;
                        
                            }
                            &__desc{
                                @include mixins.flexing(column, space-between, start);
                                width: 300px;
                                color: white;
                                margin-top: 5px;
                                
                                &__heading{
                                    padding: 0px;
                                    margin: 0px;
                                    font-size: medium;
                                }
                                &__description{
                                    padding: 0px;
                                    margin: 0px;
                                    font-size: small;
                                    &--more{
                                        font-weight: bold;
                                    }
                                }
                            }

                        }
                        &__second{
                            @include mixins.flexing(column, space-between, center);
                            width: 35%;

                        }
                       
                    }       
                }
                &__messenger{
                    @include mixins.flexing(row, center, center);
                    position: absolute;
                    top: 15%;
                    right: 30%;
                    height: 400px;
                    width: 300px;
                    background-color: white;
                    border-radius: 5px;
                    box-shadow: 2px 2px 2px 2px rgba($color: black, $alpha: 0.1);
                    &__contacts{
                        background-color: #E6E6E7;
                        height: inherit;
                        width: 35%;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        &__topBar{
                            @include mixins.flexing(row, space-between,center);
                            gap: 5px;
                            background-color: #E6E6E7;
                            height: 25px;
                            border-top-left-radius: 5px;
                            &__button{
                                height:12px;
                                width: 12px;
                                border-radius: 6px;
                                border: none;
                                @include mixins.flexing(row, center, center);
                                font-size: 10px;
                                font-weight: bold;
                                &:hover{
                                    cursor: pointer;
                                }
                                
                                &--close{
                                    background-color: rgb(247, 54, 54);
                                    
                                }
                                &--minimise{
                                    background-color: rgb(255, 193, 60);

                                }
                                &--quack{
                                    background-color: rgb(33, 172, 33);
                                }
                            }

                            img{
                                height: 10px;
                                width: 10px;
                            }
                            :last-child{
                              margin-left: auto;
                              margin-right: 5px;  
                            }
                            :first-child{
                                margin-left: 10px;
                            }

                        }
                        &__search{
                            @include mixins.flexing(row, center, center);
                            padding: 2px;
                            border: 1px solid gray;
                            margin: 5px;
                            border-radius: 2px;
                            background-color: #D9DADB;
                            &__img{
                                height: 15px;
                            }
                            &__bar{
                                width: 70px;
                                height: 15px;
                                font-size: 7px;
                                border: none;
                                background-color: #D9DADB;
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                    }
                    &__text{
                        @include mixins.flexing(column, space-between, center);
                        background-color: #FFFFFF;
                        height: inherit;
                        width: inherit;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;

                        &__topBar{
                            @include mixins.flexing(row, center,center);
                            height: 25px;
                            width: inherit;
                            background-color: #F2F3F4;
                            border-top-right-radius: 5px;
                            gap: 5px;
                            &__img{
                                height: 10px;
                                padding: 5px;
                            }
                            :first-child{
                                @include mixins.flexing(row,center, center);
                                gap: 5px;
                                margin-right: auto;
                                margin-left: 10px;
                                font-size: small;
                                p{
                                    color: gray;
                                }
                            }
                        }
                        &__messages{
                            @include mixins.flexing(column, flex-end, end);
                            width: inherit;
                            height: 85%;
                            background-color: white;
                            font-size: small;
                           
                            div{
                                @include mixins.flexing(column, center, end);
                                background-color: #4188F6;
                                color: white;
                                padding: 5px;
                                height: 20px;
                                border-radius: 5px;
                                margin: 5px;
                            
                            }
                            span{
                                @include mixins.flexing(column, center, end);
                                background-color: #E9E9EC;
                                align-self: start;
                                padding: 5px;
                                height: 20px;
                                border-radius: 5px;
                                margin: 5px;
                            }
                            
                        }
                        &__textInput{
                            @include mixins.flexing(row, center, center);
                            height: 10%;
                            width: inherit;
                            
                            border-bottom-right-radius: 5px;
                            &__input{
                                width: 80%;
                                height: 16px;
                                &:focus{
                                    outline: none;
                                }
                                border-radius: 4px;
                                border: 1px solid rgba($color: gray, $alpha: 0.4);

                            }
                            &__img{
                                padding-left: 5px;
                                height: 16px;
                                &:hover{
                                    cursor:pointer;
                                }
                            }
                        }

                    }

                }
            }
        }
    }
}

.fade {
    opacity: 0;
    transition: 0.1s;
}