.calc-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 5px;
  min-height: auto;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: minmax(8px, auto) repeat(5, 30px);
  border-radius: 5px;
}
.calc-grid__btn {
  cursor: pointer;
  font-size: 10px;
  border: 1px solid white;
  outline: none;
  background-color: #7A7A7A;
  opacity: 0.75;
}
.calc-grid__btn:hover {
  opacity: 1;
}
.calc-grid__btn--span2 {
  grid-column: span 2;
}
.calc-grid__btn--dgrey {
  background-color: #516140;
}
.calc-grid__btn--org {
  background-color: #F2A33C;
}
.calc-grid__oput {
  grid-column: span 4;
  background-color: black;
  opacity: 75%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  height: 40px;
}
.calc-grid__oput__prev {
  color: white;
  opacity: 75%;
  font-size: 1rem;
}
.calc-grid__oput__curr {
  color: white;
  font-size: 1.5rem;
}

.calc-body {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  font-family: avenir;
  position: absolute;
  bottom: 20%;
  right: 30%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

body {
  font-family: avenir, "roboto", Arial, Helvetica, sans-serif;
  height: 95vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .container {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container__monitor {
  height: 80vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: darkgray;
  border: 20px black solid;
  border-radius: 10px;
}
body .container__monitor__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  opacity: 80%;
  height: 30px;
  width: inherit;
}
body .container__monitor__nav__left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  margin-left: 10px;
}
body .container__monitor__nav__left__icon {
  text-decoration: none;
  color: black;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
body .container__monitor__nav__left__icon--OS {
  font-weight: bold;
  transition: 0.2s;
}
body .container__monitor__nav__left__icon--OS--active {
  background-color: rgba(169, 169, 169, 0.5);
  transition: 0.1s;
}
body .container__monitor__nav__left__icon--main {
  font-weight: bold;
}
body .container__monitor__nav__right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  margin-right: 10px;
}
body .container__monitor__bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: auto;
  transition: 0.5s;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 20px;
  opacity: 100%;
}
body .container__monitor__bar__icon {
  height: 50px;
  width: 50px;
  opacity: 100%;
  transition: 0.2s;
}
body .container__monitor__bar__icon:hover {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  transition: 0.2s;
}
body .container__monitor__popup {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: inherit;
  height: inherit;
}
body .container__monitor__popup__dropdown {
  z-index: 2;
  height: auto;
  width: 130px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
body .container__monitor__popup__dropdown__list {
  list-style-type: none;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 3px;
  padding-left: 2px;
}
body .container__monitor__popup__dropdown__list__items {
  font-size: small;
  padding: 3px;
}
body .container__monitor__popup__dropdown__list__items--dec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
body .container__monitor__popup__dropdown__list__items--underline {
  margin-right: 5px;
  border-bottom: 1px solid gray;
}
body .container__monitor__popup__youtube {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 500px;
  background-color: #26282A;
  position: absolute;
  left: 20%;
  top: 20%;
}
body .container__monitor__popup__youtube__web {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}
body .container__monitor__popup__youtube__web__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  margin-left: 10px;
}
body .container__monitor__popup__youtube__web__controls__button {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
}
body .container__monitor__popup__youtube__web__controls__button:hover {
  cursor: pointer;
}
body .container__monitor__popup__youtube__web__controls__button--close {
  background-color: rgb(247, 54, 54);
}
body .container__monitor__popup__youtube__web__controls__button--minimise {
  background-color: rgb(255, 193, 60);
}
body .container__monitor__popup__youtube__web__controls__button--quack {
  background-color: rgb(33, 172, 33);
}
body .container__monitor__popup__youtube__web__search {
  height: 15px;
  width: 55%;
  background-color: white;
  text-align: center;
  border-radius: 2px;
  border: 1px solid gray;
}
body .container__monitor__popup__youtube__web ::placeholder {
  color: black;
  opacity: 1;
}
body .container__monitor__popup__youtube__web__right {
  width: 70px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .container__monitor__popup__youtube__web__right__icon {
  height: 16px;
  width: 30px;
  background-color: darkgray;
  border-radius: 5px;
}
body .container__monitor__popup__youtube__topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: inherit;
  background-color: white;
}
body .container__monitor__popup__youtube__topBar__left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  width: 160px;
}
body .container__monitor__popup__youtube__topBar__left__bars {
  height: 30px;
  width: 30px;
}
body .container__monitor__popup__youtube__topBar__left__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}
body .container__monitor__popup__youtube__topBar__left__logo__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 30px;
  border-radius: 5px;
  background-color: #EA3323;
  font-size: 10px;
  color: white;
}
body .container__monitor__popup__youtube__topBar__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .container__monitor__popup__youtube__topBar__input__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
body .container__monitor__popup__youtube__topBar__input__text__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: gray;
  border: none;
}
body .container__monitor__popup__youtube__topBar__input__text__form:focus {
  outline: none;
}
body .container__monitor__popup__youtube__topBar__input__text__cross {
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .container__monitor__popup__youtube__topBar__input__text__cross__img {
  height: 10px;
}
body .container__monitor__popup__youtube__topBar__input__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
}
body .container__monitor__popup__youtube__topBar__input__search__img {
  height: 20px;
  width: 20px;
}
body .container__monitor__popup__youtube__topBar__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  margin-right: 10px;
}
body .container__monitor__popup__youtube__topBar__right__icon {
  height: 20px;
  width: 20px;
}
body .container__monitor__popup__youtube__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-top: 10px;
  height: 100%;
}
body .container__monitor__popup__youtube__content__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}
body .container__monitor__popup__youtube__content__main__video {
  height: 200px;
  width: 300px;
}
body .container__monitor__popup__youtube__content__main__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 300px;
  color: white;
  margin-top: 5px;
}
body .container__monitor__popup__youtube__content__main__desc__heading {
  padding: 0px;
  margin: 0px;
  font-size: medium;
}
body .container__monitor__popup__youtube__content__main__desc__description {
  padding: 0px;
  margin: 0px;
  font-size: small;
}
body .container__monitor__popup__youtube__content__main__desc__description--more {
  font-weight: bold;
}
body .container__monitor__popup__youtube__content__second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
body .container__monitor__popup__messenger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  right: 30%;
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
body .container__monitor__popup__messenger__contacts {
  background-color: #E6E6E7;
  height: inherit;
  width: 35%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
body .container__monitor__popup__messenger__contacts__topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #E6E6E7;
  height: 25px;
  border-top-left-radius: 5px;
}
body .container__monitor__popup__messenger__contacts__topBar__button {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
}
body .container__monitor__popup__messenger__contacts__topBar__button:hover {
  cursor: pointer;
}
body .container__monitor__popup__messenger__contacts__topBar__button--close {
  background-color: rgb(247, 54, 54);
}
body .container__monitor__popup__messenger__contacts__topBar__button--minimise {
  background-color: rgb(255, 193, 60);
}
body .container__monitor__popup__messenger__contacts__topBar__button--quack {
  background-color: rgb(33, 172, 33);
}
body .container__monitor__popup__messenger__contacts__topBar img {
  height: 10px;
  width: 10px;
}
body .container__monitor__popup__messenger__contacts__topBar :last-child {
  margin-left: auto;
  margin-right: 5px;
}
body .container__monitor__popup__messenger__contacts__topBar :first-child {
  margin-left: 10px;
}
body .container__monitor__popup__messenger__contacts__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid gray;
  margin: 5px;
  border-radius: 2px;
  background-color: #D9DADB;
}
body .container__monitor__popup__messenger__contacts__search__img {
  height: 15px;
}
body .container__monitor__popup__messenger__contacts__search__bar {
  width: 70px;
  height: 15px;
  font-size: 7px;
  border: none;
  background-color: #D9DADB;
}
body .container__monitor__popup__messenger__contacts__search__bar:focus {
  outline: none;
}
body .container__monitor__popup__messenger__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  height: inherit;
  width: inherit;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
body .container__monitor__popup__messenger__text__topBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: inherit;
  background-color: #F2F3F4;
  border-top-right-radius: 5px;
  gap: 5px;
}
body .container__monitor__popup__messenger__text__topBar__img {
  height: 10px;
  padding: 5px;
}
body .container__monitor__popup__messenger__text__topBar :first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: auto;
  margin-left: 10px;
  font-size: small;
}
body .container__monitor__popup__messenger__text__topBar :first-child p {
  color: gray;
}
body .container__monitor__popup__messenger__text__messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  width: inherit;
  height: 85%;
  background-color: white;
  font-size: small;
}
body .container__monitor__popup__messenger__text__messages div {
  background-color: #4188F6;
  color: white;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  margin: 5px;
}
body .container__monitor__popup__messenger__text__messages span {
  background-color: #E9E9EC;
  align-self: start;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  margin: 5px;
}
body .container__monitor__popup__messenger__text__textInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: inherit;
  border-bottom-right-radius: 5px;
}
body .container__monitor__popup__messenger__text__textInput__input {
  width: 80%;
  height: 16px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.4);
}
body .container__monitor__popup__messenger__text__textInput__input:focus {
  outline: none;
}
body .container__monitor__popup__messenger__text__textInput__img {
  padding-left: 5px;
  height: 16px;
}
body .container__monitor__popup__messenger__text__textInput__img:hover {
  cursor: pointer;
}

.fade {
  opacity: 0;
  transition: 0.1s;
}
