@use "./partials/mixins";
@use "./partials/palette";
@use "./partials/effects";
@use "./modules/calculator.scss";

@keyframes flip {
    0%,20% {
      transform: rotateY(360deg);
    };
}

body {
    @include mixins.flexing(column, center, center);
    font-family: 'roboto',avenir, Arial, Helvetica, sans-serif;
    height: 98vh;
    width: 99vw;
    .container{
        @include mixins.flexing(row, center, center);
        width: inherit;
        height: inherit;
        div {
            
        }
        &__welcome{
            cursor: pointer;
            margin: 10px;
            @include mixins.flexing(column, center, center);
            z-index: 6;
            height: inherit;
            width: inherit;
            position: absolute;
            background-color: rgba($color: gray, $alpha: 0.8);
            gap: 5px;
            &__login{
                background-color: rgba($color: white, $alpha: 0.9);
                height: 20px;
                border-radius: 3px;
                border: none;
                &:focus{
                    outline: none;
                }
            }
            &__top{
                @include mixins.flexing(row, center, center);
            }
            &__letter{
                @include mixins.flexing(column, center, center);
                font-family: 'Nanum Myeong';
                position: relative;
                display: inline-block;
                font-size: 50px;
                animation: flip 4s infinite;
                animation-delay: calc(.2s * var(--i));
                color: white;
            }
            img {
                height: 100px;
                border-radius: 50px;
            }
        }
        &__monitor{
            position: absolute;
            filter: blur(10px);
            height: inherit;
            width: inherit;
            @include mixins.flexing(column, space-between, center);
            background-image: url(./images/minimal-mojave-day-gi.jpg);
            background-repeat:no-repeat;
            background-position: center center;
            background-color: #ECE2CC; //#FFBD59
            background-size:cover;
      
            &__nav{
                z-index: 5;
                @include mixins.flexing(column, space-between, space-between);
                background-color: rgba($color: white, $alpha: 0.8);
                height: 30px;
                width: inherit;
                &__top{
                    @include mixins.flexing(row, space-between, center);
                    margin-top: 5px;
                }
                &__center{
                    @include mixins.flexing(row, center, center);
                    padding-right: 100px;
                    gap: 5px;
                    font-size: 12px;
                    margin-right: 10px;
                    &__lock{
                        height: 15px;
                        opacity: 50%;
                       
                    }
                }
                &__left{
                    @include mixins.flexing(row, center, center);
                    gap: 10px;
                    font-size: 12px;
                    margin-left: 10px;
                    &__icon{
                        @include mixins.flexing(row, center, center);
                        transition: 0.1s;
                        padding: 1px;
                        text-decoration: none;
                        color: black;
                        text-align: center;
                        border-radius: 3px;
                        padding-left: 5px;
                        padding-right: 5px;
                        cursor: pointer;
                        &--active{
                            background-color: rgba($color: darkgray, $alpha: 0.5);
                            transition: 0.1s;
                            text-align: center;
                        }
                        &--OS{
                            font-weight: bold;
                            transition: 0.2s;
                            &--active{
                                background-color: rgba($color: darkgray, $alpha: 0.5);
                                transition: 0.1s;
                            }
                        }
                        &--main{
                            font-size: 12px;
                            font-weight:500;
                            width: 60px;
                        }

                    }
                    
                }
                &__right{
                    @include mixins.flexing(row, center, center);
                    gap: 5px;
                    font-size: 12px;
                    margin-right: 10px;
                    #time, #date{
                        cursor: pointer;
                    }
                    &__search{
                        @include mixins.flexing(row,center,center);
                        &__img{
                            @include mixins.flexing(row,center,center);
                            height: 20px;
                            &:hover{
                                background-color: rgba($color: lightgray, $alpha: 0.5);
                                cursor: pointer;
                                border-radius: 2px;
                            }
                        }
                        &__wifi{
                            @include mixins.flexing(row,center,center);
                            height: 12px;
                            padding-left: 2px;
                            padding-right: 5px;
                        }
                    }
                }
                &__dropdown{
                    z-index: 3;
                    position: absolute;
                    top: 25px;
                    @include mixins.flexing(row,center,left);
                    height: auto;
                    width: 130px;
                    margin: 1px;
                    margin-top: 6px;
                    background-color: rgba($color: white, $alpha: .99);
                    cursor: pointer;
                    border-radius: 5px;
                    &--main{
                        left: 40px;
                    }
                    &--file{
                        left: 122px;
                    }
                    &--edit{
                        left: 161px;
                    }
                    &--view{
                        left: 202px;
                    }
                    &--help{
                        left: 247px;
                    }

                    &__list{
                        @include mixins.flexing(column, start,left);
                        width: inherit;
                        height: inherit;
                        margin-left: 5px;
                        margin-top: 5px;
                        margin-bottom: 3px;
                        padding-left: 2px;
                        
                        &__items{
                            list-style-type: none;
                            font-size: small;
                            padding: 3px;
                            &--dec {
                                @include mixins.flexing(row, space-between, center);
                                margin-right: 5px;
                                border-bottom: 1px solid gray;
                                border-top: 1px solid gray;
                                div{
                                    color: gray;
                                }
                            }
                            &--underline{
                                margin-right: 5px;
                                border-bottom: 1px solid gray;
                            }
                            a{
                                text-decoration: none;
                                color: black;
                                font-weight: bold;
                            }
                        }
                    }
                    
                }
            }
            &__bar{
                z-index: 2;
                @include mixins.flexing(row, center, center);
                height: 60px;
                width: auto;
                transition: 0.5s;
                padding-left: 10px;
                padding-right:10px;
                margin-bottom: 5px;
                background-color: rgba($color: white, $alpha: 0.5);
                border-radius: 20px;
                opacity: 100%;
                position: absolute;
                align-self: center;
                margin-bottom: 5px;
                bottom: 1%;
                &__icon{
                    height: 50px;
                    width: 50px;
                    opacity: 100%;
                    transition: 0.2s;
                    &:hover{
                        position: relative;
                        width: 100px;
                        height: 100px;
                        margin-bottom: 30px;
                        transition: 0.2s;
                    }
                }
            }
            &__popup{
                z-index: 2;
                display: flex;
                justify-content: left;
                align-items: flex-start;
                width: inherit;
                height: inherit;
                //YOUTUBE SECTION
                &__youtube{
                    border-radius: 5px;
                    box-shadow: 2px 2px 2px 2px rgba($color: black, $alpha: 0.1);
                    height: auto;
                    width: 700px;
                    background-color: palette.$whiteBackrgound-light;
                    position: absolute;
                    left: 20%;
                    top: 20%;
                    &--fullscreen{
                        z-index: 2;
                        left: 0%;
                        top: 0%;
                        height: 90%;
                        width: 100%;
                        position: static;
                        box-shadow: none;
                    }

                    &__web{
                        @include mixins.flexing(row, space-between, center);
                        height: 25px;
                        background-color: palette.$deepLayer-light;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        
                        &__controls{
                            @include mixins.flexing(row, space-between, center);
                            width: 50px;
                            margin-left: 10px;
                            &__button{
                                height:12px;
                                width: 12px;
                                border-radius: 6px;
                                border: none;
                                @include mixins.flexing(row, center, center);
                                font-size: 10px;
                                font-weight: 500;
                                &:hover{
                                    cursor: pointer;
                                }
                                
                                &--close{
                                    background-color: rgb(247, 54, 54);
                                   font-size: 7px;
                                    text-align: center;
                                }
                                &--minimise{
                                    background-color: rgb(255, 193, 60);

                                }
                                &--quack{
                                    background-color: rgb(33, 172, 33);
                                    font-size: medium;
                                }
                            }
                        }
                        &__search{
                            height: 12px;
                            width: 55%;
                            background-color: palette.$search-light;
                            text-align: center;
                            border-radius: 2px;
                            border: 1px solid rgba($color: gray, $alpha: 0.5);
                            
                          
                        }
                        ::placeholder { 
                            color: black;
                            opacity: 1;
                          }
                          &__right{
                            width: 70px;
                            margin-right: 10px;
                            @include mixins.flexing(row, space-between, center);
                            &__icon{
                                height: 16px;
                                width: 30px;
                                background-color: palette.$topBar-light;
                                border-radius: 5px;
                            }
                          }
                    }

                    &__topBar{
                        @include mixins.flexing(row, space-between, center);
                        height: 40px;
                        width: inherit;
                        background-color: palette.$whiteBackrgound-light;
                        
                        &__left{
                            @include mixins.flexing(row, space-between, center);
                            margin-left: 10px;
                            width: 160px;
                            gap: 5px;

                            &__bars{
                                height: 30px;
                                width: 30px;
                            }
                            &__logo {
                                @include mixins.flexing(row, space-between, center);
                                width: 110px;
                                &__icon{
                                    @include mixins.flexing(row, center, center);
                                    height: 20px;
                                    width: 30px;
                                    border-radius: 5px;
                                    background-color: #EA3323;
                                    font-size: 10px;
                                    color: white;
                                }
                            }
                        }
                        &__input{
                            @include mixins.flexing(row,center,center);
                            width: 40%;
                            max-width: 500px;
                            &__text{
                                width: 100%;
                                @include mixins.flexing(row,center,center);
                                border: 1px solid black;
                                &__form{
                                    @include mixins.flexing(row,center,center);
                                    width: 100%;
                                    color: gray;
                                    border: none;
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                &__cross{
                                    width: 20px;
                                    @include mixins.flexing(row,center,center);
                                    &__img{
                                        height: 10px;
                                    }
                                }
                                          
                            }
                            &__search{
                                @include mixins.flexing(row,center,center);
                                width: 30px;
                                &__img{
                                    height: 20px;
                                    width: 20px;
                                }

                            }
                        }
                        &__right{
                            @include mixins.flexing(row, space-between, center);
                            width: 80px;
                            margin-right: 10px;
                            gap: 5px;
                            &__icon{
                                height: 20px;
                                width: 20px;
                            }
                        }
                    }

                    &__content{
                        @include mixins.flexing(row, center, start);
                        gap: 20px;
                        padding-top: 10px;
                        background-color: palette.$topBar-light;
                        height: 400px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        &__main{
                            @include mixins.flexing(column, flex-start, start);
                            height: 98%;
                            width: 55%;
                            background-color: palette.$topBar-light;
                            &__video{
                            height: 60%;
                            width: 95%;
                            }
                            &__desc{
                                @include mixins.flexing(column, space-between, start);
                                width: 300px;
                                color: black;
                                margin-top: 5px;
                                
                                &__heading{
                                    padding: 0px;
                                    margin: 0px;
                                    font-size: medium;
                                }
                                &__description{
                                    padding: 0px;
                                    margin: 0px;
                                    font-size: small;
                                    &--more{
                                        font-weight: 500;
                                    }
                                }
                            }
                            &__cap{
                                @include mixins.flexing(row, space-between, center);
                                width: 95%;
                                &--2{
                                    @include mixins.flexing(row, center, center);
                                }
                            }
                            &__creator{
                                @include mixins.flexing(row, space-around, center);
                                margin-top: 5px;
                                width: 49%;
                                height: 40px;
                                font-size: 60%;
                                border: 1px solid rgba($color: gray, $alpha: 0.5);
                                border-radius: 5px;
                                &__commentSnip{
                                    @include mixins.flexing(column, center, center);
                                    height: 30px;
                                    border-right: 1px solid gray;
                                    padding-right: 10px;
                                    margin-left: 10px;
                                    &--title{
                                        font-weight: bold;
                                        font-size: 8px;
                                    }
                                    p {
                                        padding: 0;
                                        margin: 0;
                                    }
                                }
                                &__description{
                                    
                                    &--main{
                                        margin-top: 2px;
                                        font-weight: 500px;
                                    }
                                    &--sub{
                                        color: gray;
                                    }
                                }
                                &__profile{
                                    @include mixins.flexing(row, center, center);
                                    margin-left: 2px;
                                    margin-right: 10px;
                                   
                                  
                                    img{
                                        height: 24px;
                                        background-color: rgba($color: peachpuff, $alpha: .5);
                                        border-radius: 12px;
                                        border: 1px solid black;
                                    }
                                }
                                &__subscribe{
                                    @include mixins.flexing(row, center, center);
                                    margin-left: auto;
                                    margin-right: 5px;
                                    text-align: center;
                                    border-radius: 3px;
                                    color: white;
                                    ////font-stretch: expanded;
                                    height: 80%;
                                    width: 35%;
                                    max-height: 26px;
                                    max-width: 90px;
                                    background-color: red;
                                }
                            }
                            &__comments{
                                height: 10%;

                                width: 95%;
                                &__top{
                                    margin-top: 10px;
                                    width: 100%;
                                    @include mixins.flexing(row, flex-start, center);
                                    font-size: 12px;
                                    color: rgba($color: black, $alpha: 0.8);
                                    gap: 10px;
                                    .cloud{
                                        margin-left: auto;
                                        margin-right: 5px;
                                        height: 30px;  
                                    }
                                    span{
                                        img{
                                            height: 8px;
                                        }
                                    }

                                }
                                &__input{
                                    margin-top: 10px;
                                    @include mixins.flexing(row, start, center);
                                    margin-top: 2px;
                                    img{
                                        height: 20px;
                                        margin-right: 5px;
                                        margin-left: 2px;
                                    }
                                    input{
                                        background-color: rgba($color: white, $alpha: 0);
                                        border-radius: none;
                                        border: none;
                                        border-bottom: 1px solid rgba($color: gray, $alpha: 0.7);
                                        width: 90%;
                                        &:focus{
                                            outline: none;
                                        }
                                    }

                                }
                                &__bottom{
                                    &__reply{
                                        margin-top: 15px;
                                        @include mixins.flexing(row, start, center);
                                        img{
                                            height: 30px;
                                            border-radius: 15px;

                                        }
                                        &__user{
                                            padding-left: 10px;
                                            font-size: small;
                                            gap: 5px;
                                            &--title {
                                                span{
                                                    padding-left: 5px;
                                                    font-size: smaller;
                                                    color: gray;
                                                }
                                            }
                                            &--comment{
                                                margin-top: 5px;
                                                font-size: smaller;
                                            }
                                        }
                                    }
                                }
                               
                            }
                            

                        }
                        &__second{
                            @include mixins.flexing(column, space-between, center);
                            width: 30%;
                            height: 98%;
                            //background-color: red;
                            gap: 5px;
                            margin-bottom: 5px;
                            &__vidContainer{
                                height: 20%;
                                width: 100%;
                                margin-right: 15%;
                                
                                @include mixins.flexing(row, center, center);
                                &__preview{
                                    max-height: 100%;
                                    max-width: 70%;
                                    min-height: 65px;
                                    min-width: 100px;
                                    height: 100%;
                                    width: 50%;
                                    
                                    border-radius: 3px;
                                }
                                &__description{
                                    //background-color: red;
                                    height: 70%;
                                    width: 40%;
                                    min-width: 100px;
                                    @include mixins.flexing(column, center, start);
                                    margin-top: 0;
                                    margin-bottom: 0;
                                    margin-left: 5px;
                                    padding: 0px;
                                    font-size: small;
                                    h5 {font-size: 100%; padding: 0px; margin-top: 0;
                                        margin-bottom: 4px;}
                                    p {font-size: 65%;margin-top: 0px; padding: 0px; margin-top: 0;
                                        margin-bottom: 0; color: gray;}
                                }

                            }
                        }
                       
                    }       
                }
                &__messenger{
                    @include mixins.flexing(row, center, center);
                    position: absolute;
                    top: 15%;
                    left: 30%;
                    height: 400px;
                    width: 500px;
                    box-shadow: 2px 2px 2px 2px rgba($color: black, $alpha: 0.1);
                    &--fullscreen{
                        z-index: 2;
                        left: 0%;
                        top: 0%;
                        height: 90%;
                        width: 100%;
                        position: static;
                        box-shadow: none;
                    }
                    
                    background-color: palette.$topBar-light;
                    border-radius: 5px;
                    
                    &__contacts{
                        background-color: palette.$deepLayer-light;
                        height: 100%;
                        width: 20%;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        &__topBar{
                            @include mixins.flexing(row, space-between,center);
                            gap: 5px;
                            background-color: palette.$deepLayer-light;
                            height: 25px;
                            border-top-left-radius: 5px;
                            &__button{
                                height:12px;
                                width: 12px;
                                border-radius: 6px;
                                border: none;
                                @include mixins.flexing(row, center, center);
                                font-size: 10px;
                                font-weight: 500;
                                &:hover{
                                    cursor: pointer;
                                }
                                
                                &--close{
                                    background-color: rgb(247, 54, 54);
                                   font-size: 7px;
                                    text-align: center;
                                }
                                &--minimise{
                                    background-color: rgb(255, 193, 60);

                                }
                                &--quack{
                                    background-color: rgb(33, 172, 33);
                                    font-size: medium;
                                }
                            }

                            img{
                                height: 10px;
                                width: 10px;
                            }
                            :last-child{
                              margin-left: auto;
                              margin-right: 5px;  
                            }
                            :first-child{
                                margin-left: 10px;
                            }

                        }
                        &__search{
                            @include mixins.flexing(row, flex-start, center);
                            padding: 2px;
                            border: 1px solid gray;
                            margin: 4px;
                            border-radius: 2px;
                            background-color: palette.$search-light;
                            &__img{
                                height: 15px;
                            }
                            &__bar{
                                width: 60px;
                                height: 15px;
                                font-size: 7px;
                                border: none;
                                background-color: palette.$search-light;
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                    }
                    &__text{
                        @include mixins.flexing(column, space-between, center);
                        background-color: palette.$whiteBackrgound-light;
                        height: 100%;
                        width: 80%;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;

                        &__topBar{
                            @include mixins.flexing(row, center,center);
                            height: 25px;
                            width: 100%;
                            background-color: palette.$topBar-light;
                            border-top-right-radius: 5px;
                            gap: 5px;
                            &__img{
                                height: 10px;
                                padding: 5px;
                            }
                            :first-child{
                                @include mixins.flexing(row,center, center);
                                gap: 5px;
                                margin-right: auto;
                                margin-left: 10px;
                                font-size: small;
                                p{
                                    color: gray;
                                }
                            }
                        }
                        &__messages{
                            @include mixins.flexing(column, flex-end, end);
                            width: 100%;
                            height: 85%;
                            background-color: white;
                            overflow-y: auto;
                            overflow-x: hidden;
                            font-size: small;

                           
                            div{
                                @include mixins.flexing(column, center, end);
                                background-color: #4188F6;
                                color: white;
                                padding: 5px;
                                height: 20px;
                                border-radius: 5px;
                                margin: 5px;
                            
                            }
                            span{
                                @include mixins.flexing(column, center, end);
                                background-color: #E9E9EC;
                                align-self: start;
                                padding: 5px;
                                height: 20px;
                                border-radius: 5px;
                                margin: 5px;
                            }
                            
                        }
                        &__textInput{
                            @include mixins.flexing(row, center, center);
                            height: 10%;
                            width: 100%;
                            
                            border-bottom-right-radius: 5px;
                            &__input{
                                width: 80%;
                                height: 16px;
                                &:focus{
                                    outline: none;
                                }
                                border-radius: 4px;
                                border: 1px solid rgba($color: gray, $alpha: 0.4);

                            }
                            &__img{
                                padding-left: 5px;
                                height: 16px;
                                &:hover{
                                    cursor:pointer;
                                }
                            }
                        }

                    }

                }
                &__spotlight{
                    z-index: 5;
                    box-shadow: 2px 2px 2px 2px rgba($color: black, $alpha: 0.1);
                    position: absolute;
                    top: 20%;
                    left: 35%;
                    @include mixins.flexing(row, start, center);
                    width: 30%;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: rgba($color: white, $alpha: 0.99);
                    img{
                        height: 30px;
                    }
                    input {
                        background-color: rgba($color: white, $alpha: 0);
                        border: none;
                        font-size: x-large;
                        &:focus{
                            outline: none;
                        }
                    }
                }
                &__notes{
                    width: auto;
                    height: auto;
                    background-color: white;
                    box-shadow: 2px 2px 2px 2px rgba($color: black, $alpha: 0.1);
                    border-radius: 5px;
                    position: absolute;
                    top: 15%;
                    left: 30%;
                    textarea{
                        border: none;
                        &:focus{
                            outline: none;
                        }
                    }
                    &--fullscreen{
                        z-index: 2;
                        left: 0%;
                        top: 0%;
                        height: 90%;
                        width: 100%;
                        position: static;
                        box-shadow: none;
                    }
                    &__controls{
                        margin-top: 2px;
                        @include mixins.flexing(row, flex-start, center);
                        gap: 6px;
                        height:25px;
                        width: inherit;
                        margin-left: 10px;
                        &__button{
                            height:12px;
                            width: 12px;
                            border-radius: 6px;
                            border: none;
                            @include mixins.flexing(row, center, center);
                            font-size: 10px;
                            font-weight: 500;
                            &:hover{
                                cursor: pointer;
                            }
                            
                            &--close{
                                background-color: rgb(247, 54, 54);
                               font-size: 7px;
                                text-align: center;
                            }
                            &--minimise{
                                background-color: rgb(255, 193, 60);

                            }
                            &--quack{
                                background-color: rgb(33, 172, 33);
                                font-size: medium;
                            }
                        }
                    }
                }

                &__photos{
                    z-index: 2;
                    @include mixins.flexing(column, flex-start, left);
                    box-shadow: 2px 2px 2px 2px rgba($color: black, $alpha: 0.1);
                    width: 600px;
                    height: auto;
                    max-height: 85%;
                    background-color: white;
                    border-radius: 5px;
                    position: absolute;
                    left: 30%;
                    top: 40%;
                    &--fullscreen{
                        z-index: 2;
                        left: 0%;
                        top: 0%;
                        height: 89%;
                        max-height: 90%;
                        width: 100%;
                        position: static;
                        box-shadow: none;
                    }
                    &__controls{
                        height: 25px;
                        margin-top: 2px;
                        @include mixins.flexing(row, flex-start, center);
                        gap: 6px;
                        width: inherit;
                        margin-left: 10px;
                        &__title{
                            margin-right: auto;
                            font-size: small;
                            color: gray;
                        }
                        &__button{
                            height:12px;
                            width: 12px;
                            border-radius: 6px;
                            border: none;
                            @include mixins.flexing(row, center, center);
                            font-size: 10px;
                            font-weight: 500;
                            &:hover{
                                cursor: pointer;
                            }
                            
                            &--close{
                                background-color: rgb(247, 54, 54);
                               font-size: 7px;
                                text-align: center;
                            }
                            &--minimise{
                                background-color: rgb(255, 193, 60);

                            }
                            &--quack{
                                background-color: rgb(33, 172, 33);
                                font-size: medium;
                                margin-right: auto;
                            }
                        }
                    }
                    &__gallery{
                        @include mixins.flexing(row, space-around, center);
                        height: 100%;
                        max-height: 100%;
                        width: 100%;
                        overflow: hidden;
                        background-color: palette.$search-light;
                        
                        
                        &__preview{
                            
                            height: 100%;

                            background-color: palette.$deepLayer-light;
                            width: 20%;
                            @include mixins.flexing(column, space-around, center);

                            img{
                                margin-top: 5px;
                                margin-bottom: 5px;
                                height: auto;
                                width: 60%;
                                padding: 10px;
                                border-radius: 5px;
                                background-color: rgba($color: lightgray, $alpha: 0.2);
                                transition: 0.2s;

                                &:hover{
                                  transition: 0.2s;
                                  height: auto;
                                  width: 62%;
                                  background-color: rgba($color: gray, $alpha: 0.4);
                                  cursor: pointer;

                                }
                            }
                        }
                        &__selected{
                            overflow: hidden;
                            width: 80%;
                            height: 100%;
                            max-height: 100%;
                            @include mixins.flexing(column, center, center);

                            img {
                                height: auto;
                                max-height: 70%;
                                max-width: 65%;
                                width: auto;
                                border-radius: 5px;
                                background-color: lightgray;
                                transition: 0.1s;
                                &:hover{
                                    transition: 0.2s;
                                    max-height: 80%;
                                    max-width: 80%;
                                }
                            }
                        }
                       
                    }
                }
            }
            
        }
    }
}

.fade {
    opacity: 0;
    transition: 0.1s;
}

.calendar{
    cursor:default;
    z-index: 5;
    position: absolute;
    right: 2px;
    top: 32px;
    height: 200px;
    width: 200px;
    background-color: rgba($color: white, $alpha: 0.99);
    box-shadow: 2px 2px 2px 2px rgba($color: black, $alpha: 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    &__month{
        width: 150px;
        color: red;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    &__date{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        &__day{
            font-size: 12px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            height: 24px;
            width: 24px;
            &--gray{
                color: gray;
            }
        }
    }
    &__day{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        &__row{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &__col{
                font-size: 12px;
                display: flex;
                flex: row;
                justify-content: center;
                align-items: center;
                height: 24px;
                width: 24px;
              
                &--today{
                    background-color: rgba($color: red, $alpha: 0.9);
                    color: white;
                    border-radius: 10px;
                }
            }
        }
    }
}